.navbar-default {
  margin-top: 20px;
  background-color: #e9edee;
  border: 0;
}

.navbar-header {
  font-size: 25px;
  line-height: 52px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand > img {
  height: 100%;
  padding: 3px;
  width: auto;
}

.bg-white {
  color: #ffffff;
}

.bg-blue {
  background-color: #00476B;
}

.text-blue {
  color: #00476B;
}
